#header{
    width: 800px;
    height: 100px;
    padding-top: 10px;
}

#header .title{
    width: 800px;
    height: 60px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

#header .date{
    width: 800px;
    height: 25px;
    margin-left: 620px;
}
#header .check-data{
    width: 800px;
    height: 25px;
    margin-left: 600px;
}