#todo-input{
    width: 800px;
    height: 50px;
    background-color: beige;
    position: relative;
}

.inputs{
    width: 500px;
    height: 40px;
    margin-left: 80px;
    float: left;
}
.inputs input{
    margin-top: 10px;
    width: 400px;
    height: 25px;
    float: left;
    border: 1px solid brown;
}
.inputs button{
    width: 29px;
    height: 29px;
    border: none;
    margin-left: 10px;
    background: none;
    float: left;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    color: brown;
}
.inputs button:hover{
    color: red;
}

.buttons{
    float: right;
    position: absolute;
    top: -30px;
    left: 80px;
}

.buttons button{
    width: 40px;
    height: 30px;
    font-size: 10px;
    margin-right: 10px;
    border: none;
    background-color: aliceblue;
    cursor: pointer;
}
.buttons button:hover{
    background-color: cornflowerblue;
    color: brown;
}