#App{
  width: 800px;
  height: auto;
  margin: 0 auto;
  background-color: beige;
  padding: 10px;
  margin-top: 20px;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

*{
  font-family: '야놀자 야체';
}

button{
  background-color: bisque;
  color: gray;
}